.main {
  flex: 1 1 auto;
}

.explore-and-travel__content {
  display: flex;
  padding: 3.7% 1.5% 10.7% 1.5%;
  gap: 11%;
}

.explore-and-travel__title {
  position: relative;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 4rem;
  line-height: 125%;
  color: #202336;

  &:not(:last-child) {
    margin-bottom: 13.7%;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 1.5625rem;
    right: -7.5rem;
    width: 1.25rem;
    height: 0.3125rem;
    background-color: #fdd08d;
  }

  &::before {
    transform: rotate(-9deg);
  }

  &::after {
    transform: rotate(82deg);
  }
}

/* BLOCK-INFO */

.explore-and-travel__block-info {
  position: relative;
  max-width: 29.375rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border: #57d2a3 solid 0.1875rem;
    border-radius: 0.9375rem;
  }

  &::before {
    width: 1.625rem;
    height: 1.625rem;
    left: -5.25rem;
    top: 3.4375rem;
  }

  &::after {
    width: 1.25rem;
    height: 1.25rem;
    bottom: -2.3125rem;
    right: -4.4375rem;
  }
}

.block-info__title {
  position: relative;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 123%;
  color: #202336;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.block-info__title_decor::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2.8125rem;
  width: 2rem;
  height: 0.125rem;
  border-radius: 0.25rem;
  background-color: #202336;
}

.block-info__button {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 354%;
  padding: 1.1875rem 3.75rem;
}

/* NAVIGATION */

.block-info__navigation:not(:last-child) {
  margin-bottom: 14.6%;
}

.navigation__item {
  position: relative;
  width: 100%;
  border-radius: 0.375rem;
  border: 0.05rem solid #afb0b9;
  padding: 3.1% 0px 3.1% 6.5%;
  transition: border 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    border: 0.05rem solid #000000;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 52%;
    left: 82%;
    width: 0.5rem;
    height: 0.125rem;
    border-radius: 0.625rem;
    background-color: #4a4c53;
  }

  &::before {
    transform: rotate(-50deg);
  }

  &::after {
    left: 80%;
    transform: rotate(50deg);
  }
}

.navigation__item-title {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 213%;
  color: #4a4c53;
}

:is(.navigation-row-location-activity, .navigation-row-grade-date) {
  display: flex;
  gap: 7%;
}

.navigation-row-location-activity:not(:last-child) {
  margin-bottom: 7.8%;
}

.image img {
  max-width: 100%;
  object-fit: cover;
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  .explore-and-travel__block-info {
    min-width: 17.5rem;
  }

  .explore-and-travel__title {
    font-size: 2.5rem;
  }

  .navigation__item::after {
    left: 79%;
  }
}

/* MEDIA (PHONE) */

@media (max-width: 767px) {
  .explore-and-travel__content {
    flex-direction: column;
    align-items: center;
  }

  .navigation__item-title {
    font-size: 0.8125rem;
  }

  .block-info__button {
    padding: 0.625rem 1.25rem;
  }
}
