.featured__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20px 116px 20px;
}

/* ROW-TITLE */

.featured__row-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 84%;

  &:not(:last-child) {
    margin-bottom: 54px;
  }
}

.row-title__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  line-height: 139%;
  color: #000000;
}

.row-title__view-all {
  position: relative;
  font-weight: 600;
  font-size: 17px;
  line-height: 353%;
  color: #fb8f1d;

  &:hover {
    text-decoration: underline;
  }
}

/* COLUMN */

.row-columns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.column {
  flex: 0 1 24%;
}

.column__content {
  position: relative;
}

/* DECORS */

.featured__row-title::before {
  content: "";
  position: absolute;
  right: 160px;
  bottom: 70px;
  width: 20px;
  height: 20px;
  border: #57d2a3 solid 3px;
  border-radius: 15px;
}

.column_decor-plus {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -96px;
    bottom: 131px;
    width: 20px;
    height: 5px;
    background-color: #fdd08d;
  }

  &::before {
    transform: rotate(91deg);
  }
}

.column_decor-circle {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 23px;
    bottom: -59px;
    width: 20px;
    height: 20px;
    border: #57d2a3 solid 3px;
    border-radius: 15px;
  }
}

:is(.row-title__view-all::before, .row-title__view-all::after) {
  content: "";
  position: absolute;
  right: -20px;
  width: 10px;
  height: 2px;
  border-radius: 10px;
  background-color: #fb8f1d;
}

.row-title__view-all::before {
  top: 55%;
  transform: rotate(-50deg);
}

.row-title__view-all::after {
  top: 42.5%;
  transform: rotate(50deg);
}

/* IMAGE */

.column__image {
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  & img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}

.column__description-image {
  position: absolute;
  bottom: 0;
  width: 52%;
  height: 56px;
  background-color: #ffffff;
  border-radius: 0px 6px 0px 0px;
  padding: 11px 0px 5px 0px;
}

.column__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 147%;
  color: #042521;
}

.column__sub-title {
  font-weight: inherit;
  font-size: 15px;
  line-height: 160%;
  color: #80918e;
}

:is(.column__title:hover, .column__sub-title:hover) {
  text-decoration: underline;
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  .row-columns {
    flex-wrap: wrap;
  }

  .row-title__title {
    font-size: 30px;
  }

  .column {
    flex: 0 1 32%;
  }

  .column__description-image {
    width: 90px;
    height: 45px;
    padding: 5px 0px 0px 0px;
  }

  :is(.column__title, .column__sub-title) {
    font-size: 13px;
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 767px) {
  .featured__content {
    padding: 100px 20px;
  }

  .row-columns {
    flex-direction: column;
    align-items: center;
  }

  .row-title {
    min-width: 260px;
  }

  .featured__row-title:not(:last-child) {
    margin-bottom: 34px;
  }

  .row-title__title {
    font-size: 19px;
  }

  .row-title__view-all {
    font-size: 14px;
  }
}
