.guides__content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 116px 20px 127px 20px;
}

.guides__block-info {
  position: relative;
  max-width: 410px;
}

.guides__block-info:not(:last-child) {
  margin-right: 80px;
}

/* DECORS */

.guides__block-info::before,
.guides__block-info::after {
  content: "";
  position: absolute;
  right: 39px;
  bottom: 9px;
  width: 20px;
  height: 5px;
  background-color: #fdd08d;
}

.guides__block-info::before {
  transform: rotate(98deg);
}

.guides__block-info::after {
  transform: rotate(-173deg);
}

.block-info_decor-circle {
  position: absolute;
  top: -69px;
  left: 44px;
  width: 20px;
  height: 20px;
  border: #57d2a3 solid 3px;
  border-radius: 15px;
}

/* IMAGE */

.guides__image {
  position: relative;
}

.guides__image::before,
.guides__image::after {
  content: "";
  position: absolute;
  top: 50px;
  right: -58px;
  width: 16px;
  height: 4px;
  background-color: #fdd08d;
}

.guides__image::before {
  transform: rotate(92deg);
}

.guides__image::after {
  transform: rotate(182deg);
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  .guides__block-info:not(:last-child) {
    margin-right: 20px;
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 767px) {
  .guides__content {
    flex-direction: column;
    padding: 100px 20px;
  }

  .guides__block-info:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 25px;
  }
}
