.new-way__content {
  display: flex;
  align-items: center;
  padding: 100px 27px 130px 0px;
}

/* NEW-WAY__BLOCK-INFO */

.new-way__block-info {
  position: relative;
  margin-left: 102px;
}

.new-way__block-info::before,
.new-way__block-info::after {
  content: "";
  position: absolute;
  top: -89px;
  left: -53px;
  width: 20px;
  height: 5px;
  background-color: #fdd08d;
}

.new-way__block-info::before {
  transform: rotate(91deg);
}

.new-way__block-info_decor-circle {
  position: absolute;
  right: 134px;
  bottom: 47px;
  width: 20px;
  height: 20px;
  border: #57d2a3 solid 3px;
  border-radius: 15px;
}

.block-info__title_modify {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.block-info__text {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7d7987;
  padding-top: 20px;
  padding-bottom: 33px;
}

.block-info__button_modify {
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
}

/* NEW-WAY__IMAGE */

.new-way__image {
  max-width: 659px;
}

/* MEDIA (PC) */

@media (max-width: 1024px) {
  .new-way__block-info {
    margin-left: 50px;
  }
}

/* MEDIA (TABLET) */

@media (max-width: 1023.98px) {
  .new-way__content {
    padding-right: 50px;
    padding-bottom: 80px;
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 767.98px) {
  .new-way__content {
    flex-direction: column;
  }

  .new-way__block-info {
    margin-top: 60px;
  }

  .block-info__title_modify {
    font-size: 30px;
  }
}
