.new-way__content {
  display: flex;
  align-items: center;
  padding: 100px 20px 130px 20px;
  gap: 102px;
}

/* BLOCK-INFO */

.new-way__block-info {
  position: relative;
  max-width: 450px;
}

.new-way__block-info::before,
.new-way__block-info::after {
  content: "";
  position: absolute;
  top: -89px;
  left: -53px;
  width: 20px;
  height: 5px;
  background-color: #fdd08d;
}

.new-way__block-info::before {
  transform: rotate(91deg);
}

.new-way__block-info_decor-circle {
  position: absolute;
  right: 134px;
  bottom: 47px;
  width: 20px;
  height: 20px;
  border: #57d2a3 solid 3px;
  border-radius: 15px;
}

.block-info__title_modify {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  line-height: 139%;
  color: #000000;
}

.block-info__title_modify:not(:last-child) {
  margin-bottom: 20px;
}

.block-info__text {
  font-family: "Muli";
  font-weight: 300;
  font-size: 17px;
  line-height: 176%;
  color: #7d7987;
}

.block-info__text:not(:last-child) {
  margin-bottom: 33px;
}

.block-info__button_modify {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 375%;
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  .new-way__content {
    padding: 100px 20px 80px 20px;
    gap: 50px;
  }

  .new-way__block-info {
    max-width: 300px;
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 767px) {
  .new-way__content {
    flex-direction: column-reverse;
    padding: 50px 20px;
  }

  .block-info__title_modify {
    font-size: 25px;
  }

  .block-info__text {
    font-size: 15px;
  }

  .block-info__text:not(:last-child) {
    margin-bottom: 23px;
  }
}
