.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 127px 20px;
}

.testimonials__row-title {
  width: 77%;

  &:not(:last-child) {
    margin-bottom: 43px;
  }
}

/* BLOCK-INFO */

.column-grade {
  display: flex;
  align-items: center;
}

.testimonials__block-info {
  position: relative;
  max-width: 450px;

  &:not(:last-child) {
    margin-right: 169px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 104px;
    left: -122px;
    width: 22px;
    height: 22px;
    border: #57d2a3 solid 3px;
    border-radius: 15px;
  }
}

.block-info__grade img {
  max-width: 100%;
  object-fit: cover;
}

.block-info__grade:not(:last-child) {
  margin-bottom: 30px;
}

.block-info__text_modify {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: inherit;

  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.person__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 218%;
  color: inherit;
}

.person__company {
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: rgba(0, 0, 0, 0.85);
}

/* COLUMN */

.column_size {
  flex: 0 1 29%;
}

.column__description-image_modify {
  display: flex;
  align-items: center;
  right: 0px;
  width: 35%;
  border-radius: 6px 0px 0px 0px;
  padding: 20px 0px 0px 30px;
}

:is(.column__icon-next, .column__icon-previous) {
  & img {
    max-width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }

  & img:hover {
    opacity: 0.6;
  }
}

.column__icon-previous:not(:last-child) {
  margin-right: 22px;
}

/* DECORS */

.column__decor-circle {
  position: absolute;
  z-index: -1;
  top: -17px;
  right: -18px;
  width: 42px;
  height: 42px;
  border: #57d2a3 solid 5px;
  border-radius: 25px;
}

.column_plus-decor {
  position: relative;

  &::before {
    transform: rotate(90deg);
  }

  &::before, 
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: -14px;
    bottom: 3px;
    width: 31px;
    height: 7px;
    background-color: #fdd08d;
  }
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  .testimonials__block-info:not(:last-child) {
    margin-right: 80px;
  }

  .column__description-image_modify {
    padding: 10px 0px 0px 10px;
  }

  .column__icon-previous:not(:last-child) {
    margin-right: 12px;
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 767px) {
  .testimonials__content {
    padding: 50px 20px 100px 20px;
  }

  .testimonials__row-title {
    display: flex;
    justify-content: center;
  }

  .column-grade {
    flex-direction: column;
  }

  .testimonials__block-info:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 60px;
  }

  .block-info__grade:not(:last-child) {
    margin-bottom: 15px;
  }

  .block-info__text_modify {
    font-size: 20px;
  }

  .block-info__text_modify:not(:last-child) {
    margin-bottom: 20px;
  }

  .person__name {
    font-size: 20px;
  }
}
