.testimonials__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.7% 1.5% 9.5% 1.5%;
}

.testimonials__row-title {
  width: 77%;

  &:not(:last-child) {
    margin-bottom: 4.6%;
  }
}

/* BLOCK-INFO */

.column-grade {
  display: flex;
  align-items: center;
}

.testimonials__block-info {
  position: relative;
  max-width: 28.125rem;

  &::before {
    content: "";
    position: absolute;
    top: 6.5rem;
    left: -7.625rem;
    width: 1.375rem;
    height: 1.375rem;
    border: #57d2a3 solid 0.1875rem;
    border-radius: 0.9375rem;
  }
}

.block-info__grade {
  & img {
    max-width: 100%;
    object-fit: cover;
  }

  &:not(:last-child) {
    margin-bottom: 8.5%;
  }
}

.block-info__text_modify {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  color: inherit;

  &:not(:last-child) {
    margin-bottom: 10.3%;
  }
}

.person__name {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 218%;
  color: inherit;
}

.person__company {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 139%;
  color: rgba(0, 0, 0, 0.85);
}

/* COLUMN */

.column_size {
  flex: 0 1 29%;
}

.column__description-image_modify {
  display: flex;
  align-items: center;
  right: 0px;
  width: 40%;
  border-radius: 0.375rem 0px 0px 0px;
  padding: 8.2% 0px 0px 12.4%;
}

:is(.column__icon-next, .column__icon-previous) {
  & img {
    max-width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
  }

  & img:hover {
    opacity: 0.6;
  }
}

.column__icon-previous:not(:last-child) {
  margin-right: 26.1%;
}

/* DECORS */

.column__decor-circle {
  position: absolute;
  z-index: -1;
  top: -1.0625rem;
  right: -1.125rem;
  width: 2.625rem;
  height: 2.625rem;
  border: #57d2a3 solid 0.3125rem;
  border-radius: 1.5625rem;
}

.column_plus-decor {
  position: relative;

  &::before {
    transform: rotate(90deg);
  }

  &::before, 
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: -0.875rem;
    bottom: 0.1875rem;
    width: 1.9375rem;
    height: 0.4375rem;
    background-color: #fdd08d;
  }
}

/* MEDIA (MOBILE) */

@media (min-width: 767px) {
  .testimonials__block-info:not(:last-child) {
    margin-right: 16.8%;
  }
}

@media (max-width: 767px) {
  .testimonials__row-title {
    display: flex;
    justify-content: center;
  }

  .column-grade {
    flex-direction: column;
  }

  .testimonials__block-info:not(:last-child) {
    margin-bottom: 3.75rem;
  }
 
  :is(.block-info__text_modify, .person__name) {
    font-size: 1.25rem;
  }
}
