.testimonials__content {
  padding: 50px 27px 127px 27px;
}

/* ROWS */

.row-info {
  display: flex;
  align-items: center;
}

.row-info__block-info {
  margin-right: 169px;
}

.testimonials__row-title {
  margin-bottom: 43px;
}

/* BLOCK-INFO */

.row-info__block-info {
  position: relative;
}

.row-info__block-info::before {
  content: "";
  position: absolute;
  top: 104px;
  left: -122px;
  width: 22px;
  height: 22px;
  border: #57d2a3 solid 3px;
  border-radius: 15px;
}

.block-info__text_modify {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 40px;
}

.block-info__info-person-name {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
}

.block-info__info-person-company {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.85);
}

.block-info__grade-image img {
  max-width: 100%;
  object-fit: cover;
}

/* COLUMN-ICONS */

.column__size {
  flex: 0 1 384px;
}

.column__decor {
  position: relative;
}

.column__decor::before,
.column__decor::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: -13px;
  bottom: 6px;
  width: 31px;
  height: 7px;
  background-color: #fdd08d;
}

.column__decor::before {
  transform: rotate(90deg);
}

.column__decor-circle {
  position: absolute;
  z-index: -1;
  top: -17px;
  right: -18px;
  width: 42px;
  height: 42px;
  border: #57d2a3 solid 3px;
  border-radius: 25px;
}

.column__icon-next img {
  max-width: 100%;
  object-fit: cover;
}

.column__icon-previous {
  margin-right: 22px;
}

.column__icon-previous img {
  max-width: 100%;
  object-fit: cover;
}

.column__description-image_arrows {
  display: flex;
  align-items: center;
  right: 0px;
  width: 35%;
  border-radius: 6px 0px 0px 0px;
  padding: 20px 0px 0px 30px;
}

/* MEDIA (PC) */

@media (max-width: 1075px) {
  .column__description-image_modify {
    padding-left: 10px;
  }

  .row-info__block-info {
    margin-right: 100px;
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 767.98px) {
  .testimonials__content {
    padding-bottom: 70px;
  }

  .testimonials__row-title {
    display: flex;
    justify-content: center;
  }

  .row-info {
    flex-direction: column;
  }

  .row-info__block-info {
    margin-right: 0px;
    margin-bottom: 80px;
  }

  .block-info__text_modify {
    font-size: 20px;
  }

  .block-info__info-person-name {
    font-size: 20px;
  }
}
