.trending-stories__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10.7% 1.5% 20.3% 1.5%;
}

.trending-stories__row-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;

  &:not(:last-child) {
    margin-bottom: 5.2%;
  }
}

.column__image_modify {
  & img {
    border-radius: 0.5rem 0.5rem 0px 0px;
  }

  &:not(:last-child) {
    margin-bottom: 2.8%;
  }
}

/* COLUMN */

.column_modify {
  max-width: 16.625rem;
}

.column__title_modify {
  display: inline-block;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 158%;
  color: inherit;
}

.column__text {
  font-weight: 400;
  line-height: 173%;
  color: #7d7987;
}

:is(.column__title_modify, .column__text) {

  &:not(:last-child) {
    margin-bottom: 6%;
  }
}

:is(.column__text, .column__read-more) {
  font-size: 0.9375rem;
}

.column__read-more {
  font-weight: 600;
  line-height: 187%;
  color: #fb8f1d;

  &:hover {
    color: #80b5ff;
    text-decoration: underline;
  }
}

/* DECORS */

:is(.column__decor-cicrle-column-1, .column__decor-cicrle-column-3) {
  position: relative;
}

:is(.column__decor-circle-column-1::before, .column__decor-cicrle-column-3::after) {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border: #57d2a3 solid 0.1875rem;
  border-radius: 0.9375rem;
}

.column__decor-circle-column-1::before {
  left: -4.8125rem;
  bottom: 10rem;
}

.column__decor-cicrle-column-3::after {
  left: 10.4375rem;
  bottom: -4.375rem;
}

:is(.trending-stories__row-title::before, .trending-stories__row-title::after) {
  content: "";
  position: absolute;
  top: -3.125rem;
  left: 25.9375rem;
  width: 1.25rem;
  height: 0.3125rem;
  background-color: #fdd08d;
}

.trending-stories__row-title::before {
  transform: rotate(90deg);
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  :is(.column__title_modify, .column__text) {
    & {
      font-size: 0.875rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.625rem;
    }
  } 
}
