.footer {
  background-color: #f9f9fb;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 78px 20px 33px 20px;
}

.footer__row {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 156px;
}

.footer__row:not(:last-child) {
  margin-bottom: 64px;
}

.footer__row::after {
  content: "";
  position: absolute;
  bottom: -39px;
  width: 100%;
  height: 2px;
  background-color: #c4c4c4;
}

.footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.footer__icon img {
  display: flex;
  align-items: center;
  height: 22px;
}

.footer__icon:hover img {
  opacity: 0.7;
}

/* BLOCK-INFO */

.footer__block-info {
  max-width: 346px;
}

.block-info__logo:not(:last-child) {
  margin-bottom: 26px;
}

.block-info__text_gray {
  font-size: 18px;
  color: #848484;
}

.block-info__text_gray:not(:last-child) {
  margin-bottom: 60px;
}

.block-info__sub-text {
  font-family: "Muli";
  font-weight: 300;
  font-size: 17px;
  line-height: 165%;
  color: #848484;
}

/* COLUMN */

.footer__column {
  max-width: 150px;
}

.footer__label {
  font-family: "Muli";
  font-weight: 700;
  font-size: 19px;
  line-height: 316%;
  color: inherit;
}

.list-footer__link {
  font-family: "Muli";
  font-weight: 300;
  font-size: 18px;
  line-height: 211%;
  color: #848484;
}

.list-footer__link:hover {
  text-decoration: underline;
}

/* MEDIA (PC) */

@media (max-width: 1240px) {
  .footer__row {
    gap: 60px;
  }
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  .footer__row {
    flex-wrap: wrap;
  }

  .block-info__logo:not(:last-child) {
    margin-bottom: 16px;
  }

  .block-info__text_gray,
  .column__title_dark,
  .list-footer__link {
    font-size: 16px;
  }

  .block-info__text_gray:not(:last-child) {
    margin-bottom: 30px;
  }

  .block-info__sub-text {
    font-size: 15px;
  }
}

/* MEDIA (MOBILE) */

@media (max-width: 767px) {
  .footer__row {
    gap: 30px;
  }

  .footer__column {
    min-width: 124px;
  }
}
