.header__content {
  display: flex;
  align-items: center;
  max-height: 8.125rem;
  padding: 3.2% 6.3% 3.2% 2.1%;
}

.header__logo {
  flex: 0 1 9.5%;
}

/* HEADER__LIST */

.header__list {
  flex: 1 1 auto;
}

.list__items {
  display: flex;
  justify-content: flex-end;
  gap: 4.3%;
}

.list__link {
  font-weight: 400;
  font-size: 1rem;
  line-height: 119%;
  color: #b8becd;

  &:hover {
    text-decoration: underline;
  }
}

.list__link_home {
  font-weight: inherit;

  &:hover {
    color: #b8becd;
  }
}

:is(.list__link, .list__link_home) {
  color: #202336;
  transition: color 0.3s ease-in-out;
}

/* BLOCK-BUTTONS */

.header__block-buttons {
  max-width: 24.25rem;
}

.header__login {
  font-size: 0.9375rem;
  line-height: 400%;
  color: #fb8f1d;
  border: 0.0625rem solid #fb8f1d;
  border-radius: 0.5rem;
  padding: 2.7% 2.875rem;
  transition: background-color 0.3s ease-in-out;

  &:not(:last-child) {
    margin-right: 1.125rem;
  }

  &:hover {
    background-color: #fb8f1d;
    color: #fff;
  }
}

.header__register {
  font-size: 0.9375rem;
  line-height: 400%;
  padding: 4.5% 2.25rem;
}

.button {
  color: #ffffff;
  border-radius: 0.5rem;
  background-color: #fb8f1d;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    color: #fb8f1d;
    background-color: #ffffff;
  }
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  .header__register {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .header__login {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}

/* MEDIA (PHONE) */

@media (min-width: 767px) {
  .header__block-buttons:not(:first-child) {
    margin-left: 2.125rem;
  }
}

@media (max-width: 767px) {
  .header__logo:not(:last-child) {
    margin-right: auto;
  }

  .header__list {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: 4.375rem;
    transition: left 0.3s ease-in-out;
    background-color: #e1e2e7;
  }

  .list__items {
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
  }

  .open-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

      &::before, 
      &::after {
        content: "";
      }

      & span, 
      &::before, 
      &::after {
        background-color: #000000;
        height: 0.125rem;
      }
    }

  :is(.open-menu, .close-menu) {
    width: 1.875rem;
    height: 1.25rem;
    margin-left: 0.9375rem;
  }

  .close-menu {
    display: none;
    position: relative;
    top: 0.625rem;
    z-index: 20;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.125rem;
        background-color: #000000;
      }

      &::after {
        transform: rotate(-45deg);
      }

      &::before {
        transform: rotate(45deg);
      }
  }

  .header:target .header__list {
    left: 0;
  }

  .header:target .open-menu {
    display: none;
  }

  .header:target .close-menu {
    display: flex;
  }

  .header__login {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .header__login:not(:last-child) {
    margin-right: 0.5rem;
  }
}
