.header__content {
  display: flex;
  align-items: center;
  max-height: 130px;
  padding: 43px 85px 43px 28px;
}

.header__logo {
  flex: 0 1 9.5%;
}

/* HEADER__LIST */

.header__list {
  flex: 1 1 auto;
}

.list__items {
  display: flex;
  justify-content: flex-end;
  gap: 34px;
}

.list__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 119%;
  color: #b8becd;
}

.list__link:hover {
  color: #202336;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.list__link_home {
  color: #202336;
  font-weight: inherit;
}

.list__link_home:hover {
  color: #b8becd;
  transition: color 0.3s ease-in-out;
}

/* BLOCK-BUTTONS */

.header__block-buttons {
  max-width: 290px;
}

.header__login {
  font-size: 15px;
  line-height: 400%;
  color: #fb8f1d;
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  padding: 8px 46px 8px 46px;
}

.header__login:not(:last-child) {
  margin-right: 18px;
}

.header__login:hover {
  border: 1px solid #000000;
  transition: border 0.3s ease-in-out;
}

.header__register {
  font-size: 15px;
  line-height: 400%;
  padding: 10px 36px 10px 36px;
}

.button {
  color: #ffffff;
  border-radius: 8px;
  background-color: #fb8f1d;
}

.button:hover {
  color: #fb8f1d;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

/* MEDIA (TABLET) */

@media (max-width: 1023px) {
  .header__content {
    padding: 23px 15px 23px 15px;
  }

  .header__register {
    padding: 10px 20px 10px 20px;
  }

  .header__login {
    padding: 8px 30px 8px 30px;
  }

  .list__items {
    gap: 25px;
  }
}

/* MEDIA (PHONE) */

@media (min-width: 767px) {
  .header__block-buttons:not(:first-child) {
    margin-left: 34px;
  }
}

@media (max-width: 767px) {
  .header__logo:not(:last-child) {
    margin-right: auto;
  }

  .header__list {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    transition: left 0.3s ease-in-out;
    background-color: #e1e2e7;
  }

  .list__items {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .open-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .open-menu::before,
  .open-menu::after {
    content: "";
    background-color: #000000;
    height: 2px;
  }

  .open-menu span {
    background-color: #000000;
    height: 2px;
  }

  .open-menu,
  .close-menu {
    width: 30px;
    height: 20px;
    margin-left: 15px;
  }

  .close-menu {
    display: none;
    position: relative;
    top: 10px;
    z-index: 20;
  }

  .close-menu::before,
  .close-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000000;
  }

  .close-menu::after {
    transform: rotate(-45deg);
  }

  .close-menu::before {
    transform: rotate(45deg);
  }

  .header:target .header__list {
    left: 0;
  }

  .header:target .open-menu {
    display: none;
  }

  .header:target .close-menu {
    display: flex;
  }

  .header__login {
    padding: 8px 15px 8px 15px;
  }

  .header__login:not(:last-child) {
    margin-right: 8px;
  }
}
